:root {
	--color-dark: #2b302d;
	--color-dark-lighter: #49524c;
	--color-dark-hover: #747976;
	--color-light: #edf3ed;
	--color-light-hover: #9eaa9e;
	--color-link: #c6dbc6;
	--color-link-hover: #cadaca;
	--color-content-link: #63a581;
	--menu-width: 240px;
}

* {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #fff;
}

.content {
	position: absolute;
	color: var(--color-dark);
	width: calc(100% - var(--menu-width));
	left: var(--menu-width);
}

.container {
	width: 700px;
	margin: auto;
	height: auto;
	padding-top: 120px;
	padding-bottom: 120px;
}

@media (max-width: 1100px) {
	.container {
		width: 80%;
	}
}

.content h1 {
	font-size: 25px;
	font-size: 25px;
	line-height: 50px;
	padding-top: 10px;
}

.content hr {
	height: 1px;
	border-radius: 2px;
	background-color: var(--color-dark-hover);
	margin-top: 40px;
	margin-bottom: 20px;
}

.content p {
	margin-left: 40px;
	width: auto;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content h2 {
	margin-left: 40px;
	font-size: 20px;
	line-height: 15px;
	color: var(--color-dark-lighter);
}

.content a {
	text-decoration: none;
	color: var(--color-content-link);
}

.content a:hover {
	color: var(--color-dark-hover);
}

.content code {
	background: var(--color-link);
	border-radius: 3px;
	padding: 3px;
}

.wiki-section {
	background-color: var(--color-light);
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -20px;
}

.block {
	background-color: var(--color-dark-lighter);
	width: 95%;
	margin-left: 37px; 
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--color-light);
	border-color: var(--color-dark);
	border-style: solid;
	border-width: 3px;
}

.block p {
	font-family: 'Roboto Mono', monospace;
	margin-left: 13px;
}

@media (max-width: 768px) {
	.menu {
		visibility: hidden;
	}

	.content {
		left: 0;
		left: calc((100vw - 85vw) / 2);
		/* right: auto; */
		width: 80vw;
	}

	.container {
		width: auto;
	}
}

.block-img {
	width: 40px;
	height: 40px;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}

.block2 {
	height: 60px;
}