{% extends "base.html" %}

{% block title %}

About | umoria.minehut.gg

{% endblock %}


{% block body %}

<h1>## Server IP : </h1>

<p>umoria.minehut.gg</p>

<br><hr>

<h1>## Plugins :</h1>

<p>BuycraftX, Citizens, DiscordSRV, DiSky, Essentials, HolographicDisplays, LuckPerms, Multiver-core, OldCombatMechanics, Plugman, Shopkeepers, SkBee, Skellett, SkQuery, skRayFall, Skript, Vault, ViaVersion, WorldEdit, WorldGuard</p>

<br><hr>

<h1>## Contributors :</h1>

<p>Java#3865 : Admin</p>

<br><hr>

<h1>## Links :</h1>

{% endblock %}
