{% extends "base.html" %}

{% block title %}

FAQ | umoria.minehut.gg

{% endblock %}


{% block body %}

<h1>## Frequently Asked Questions</h1>

<h1>&nbsp> 0. When is the server releasing?</h1>
<p>idk leave me alone</p>

<h1>&nbsp> 1. Why is chat disabled?</h1>
<p>Chat isn't disabled, it just doesn't appear in-game. The only way of accessing it is through <code>#umoria</code> in <a href="https://www.discord.gg/YkBRcR5" target="_blank" rel="noopener noreferrer">Discord</a>. If chat appeared as normal, it would easily be lost and become useless because <a href='/wiki/#chat-ui'>chat-ui</a> floods walls of text over and over. <a href='http://127.0.0.1:5000/wiki/#overlay'>Click here for options of enabling chat▸</a></p>

<h1>&nbsp> 2.  What is FarminFarm? What is <code>@FarminFarm Archive</code> role?</h1>
<p>FarminFarm was my very first <a href='https://minehut.com'>Minehut</a> Server. It was a farming server and is what got me into Skript. I closed the server because I slowly lost interest after ~1 year, allowing be to start work on Umoria. The <code>@FarminFarm Archive</code> role grants access to view old channels, anyone can get the role in <code>#roles</code>. Special people that helped me on FarminFarm have <code>@💛</code> role</p>

{% endblock %}