{% extends "base.html" %}

{% block title %}

Welcome o7 | umoria.minehut.gg

{% endblock %}


{% block body %}

<h1>## Umoria</h1>

<p> Welcome to Umoria! Umoria is an Minecraft RPG server hosted on <a href='https://www.minehut.com'>Minehut</a>. The server is primarily made with <a href='https://github.com/SkriptLang/Skript'>Skript</a>. </p>

<br><hr>

<h1>## Story</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum augue et dignissim luctus. Sed ullamcorper diam sollicitudin erat pulvinar, quis semper eros dapibus. Donec pharetra arcu eget risus venenatis sodales. Sed ut neque vel ante sagittis accumsan ac eu mauris. Quisque maximus, velit ut tincidunt aliquam, eros dolor facilisis libero, vitae pretium mauris dui at enim. Mauris eleifend, quam ut luctus euismod, tortor massa tempor dolor, eget laoreet mauris neque quis nibh. Maecenas at eleifend ipsum, sit amet cursus est. Phasellus libero nulla, aliquet sed vulputate quis, pulvinar in diam. Integer a nibh condimentum, vulputate sapien nec, faucibus tortor. Pellentesque consequat leo vitae placerat dignissim.
<br><br>Cras ac aliquam risus. Vestibulum condimentum mollis dictum. Etiam sit amet nunc nec sapien dignissim efficitur. Aliquam eu purus neque. In cursus facilisis est vitae finibus. Donec hendrerit tincidunt finibus. Phasellus sed metus a libero mollis bibendum. Praesent accumsan varius posuere. Phasellus placerat aliquet auctor. Fusce interdum quam sit amet interdum vestibulum. Pellentesque tempor libero ac sem dapibus, quis suscipit dolor dictum.
<br><br>Proin lacinia massa ac porta venenatis. Integer consectetur convallis cursus. Duis turpis ligula, posuere ut aliquam sit amet, iaculis ac quam. Vivamus et posuere mi. Maecenas blandit orci vitae mauris dignissim, ut ultricies turpis rutrum. Sed porta nunc sit amet neque vehicula condimentum. Nulla porta orci sit amet purus imperdiet luctus. Proin at ipsum vestibulum, suscipit nibh eu, maximus dui. Mauris vestibulum ultricies efficitur.
<br><br>Sed libero nisi, ultrices nec libero eu, facilisis ullamcorper velit. Sed vel tortor et libero placerat sodales id eget diam. Proin malesuada tincidunt iaculis. Sed accumsan elit ac lobortis gravida. Aliquam mauris enim, scelerisque vitae libero vitae, tristique rhoncus libero. Ut pulvinar neque ac elit feugiat consequat. Pellentesque vitae odio vitae felis malesuada dictum. Quisque gravida sollicitudin nunc, cursus efficitur augue aliquet varius. Donec quis ullamcorper nunc. Etiam viverra nisi nec enim mattis, sed convallis arcu blandit. Vestibulum a mollis felis, ut vulputate diam. Sed at congue odio, eget venenatis arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

</p>
{% endblock %}