{% extends "base.html" %}

{% block title %}

Mob Rates | umoria.minehut.gg

{% endblock %}


{% block body %}

<h1 id="looting">## Looting</h1>
<p>The level of looting is added to the maximum range will be given. </p>
<br><div class="block">
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLooting&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
	<p># Ex: 0 - original &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3</p>
	<p># Ex: 1 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 4</p>
	<p># Ex: 2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 5</p>
	<p># Ex: 3 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 6</p>
</div>

<h1>## Mob Rates</h1>
<p> List of mob rates before applying enchantments. </p>
<br><div class="block">
	<p>m = level of looting</p>
	<p>&nbsp</p>
	<p>bone &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 5 &nbsp&nbsp 90%</p>
	<p>br_mush &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp 20%</p>
	<p>flesh &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2 - 6 &nbsp&nbsp 30%</p>
	<p>red_mush &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp&nbsp 5%</p>
	<p>bone &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3 - 6 &nbsp&nbsp 90%</p>
	<p>skel_skull &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 &nbsp&nbsp&nbsp 5%</p>
	<p>bush &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2 - 4 &nbsp&nbsp 20%</p>
	<p>bottle &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2 - 4 &nbsp&nbsp 90%</p>
	<p>pancreas &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 &nbsp&nbsp&nbsp 5%</p>
	<p>foot &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1 &nbsp&nbsp&nbsp 5%</p>
	<p>qu_eggs &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 2 &nbsp&nbsp&nbsp 5%</p>
	<p>mag_orb &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 &nbsp&nbsp&nbsp 3%</p>
	<p>dark_sapling &nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp 20%</p>
	<p>bush &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp 20%</p>
	<p>cobweb&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp 20%</p>
	<p>gel &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2 - 5 &nbsp&nbsp 90%</p>
	<p>warp_mush &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 - 3 &nbsp&nbsp 40%</p>
	<p>crystal &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2 - 4 &nbsp&nbsp 10%</p>
	<p>tide_orb &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 &nbsp&nbsp&nbsp 3%</p>
</div>

{% endblock %}